.aboutus-section {
    .content {
        padding-right: 20px;
        .text {
            margin-bottom: 30px;
            padding-right: 10px;
            line-height: 30px;
            font-family: 'OpenSans-Regular';
        }

        .img {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 18px;
            grid-row-gap: 18px;
            margin-bottom: 3.125rem;

            img {
                width: 100%;
                height:475px
            }
        }
    }

    .cardd {
        position: relative;

        a {
            position: absolute;
            font-size: 18px;
            line-height: 24px;
            font-family: 'OpenSans-bold';
            display: inline-block;
            width: fit-content;
            color: #6A6A6A;
            padding: 0 34px 9px 0;
            background-color: #fff;

            span {
                content: "";
                background-color: #4A821B;
                width: 24px;
                height: 3px;
                display: inline-block;
                margin-right: 10px;
                position: relative;
                top: 3px;
            }
        }

        border: none;

        img {
            width: 100%;
            margin-bottom: 11px;
            position: relative;
        }

        h2 {
            overflow: hidden;
            height: 46px;
            color: #585858;
            font-family: 'OpenSans-bold';
        }

        span {
            color: #538227;
            font-size: 14px;
            line-height: 20px;
            font-family: 'OpenSans-bold';
            margin-bottom: 8px;
        }

        p {
            font-size: 14px;
            line-height: 18px;
            color: #606060;
            font-family: 'OpenSans-Regular';
            overflow: hidden;
            height: 55px;
        }
    }

    .seeeall {
        font-size: 14px;
        line-height: 20px;
        color: #538227;
        font-family: 'OpenSans-Semibold';
        display: block;
        margin-bottom: 5px;
    }

    .seallline {
        content: "";
        width: 56px;
        height: 2px;
        background-color: rgba(112, 112, 112, 0.33);
        display: block;
        float: right;
    }

    .seealldiv {
        text-align: right;
    }

}